.App {
  background: #aaffa9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11ffbd, #aaffa9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11ffbd, #aaffa9);
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 1em 2em;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1em;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.form input {
  display: block;
  border-style: solid;
  border-color: rgba(2, 136, 2, 0.5);
  border-width: 0 0 0.05em 0;
  margin: 1.5em 0;
  background-color: transparent;
  width: 100%;
  font-weight: 600;
}

.form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.4;
}

.form input::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.25;
}

.form input:focus {
  outline: none;
}

.form-label {
  margin: 0.75em 0;
  font-weight: 600;
}

.form-date {
  margin: 0 !important;
}

.select {
  background-color: transparent;
  border-radius: 0.25em;
  border-style: solid;
  border-color: rgba(2, 136, 2, 0.5);
  border-width: 0.05em;
  font-weight: 600;
  width: 100%;
  padding: 0.5em;
}

.select:focus {
  outline: none;
}

.buttons-container {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.home-banner {
  width: 90%;
  margin: auto;
  transition: transform 0.5s;
}

.home-banner:hover {
  transform: scale(1.05);
}