.vaccines-container {
  display: flex;
  justify-content: space-between;
}

.vaccine {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  padding: 1em;
  border-radius: 0.5em;
  border-color: var(--primary-color);
  border-style: solid;
  border-width: 1.5px;
}

.vaccine p {
  font-weight: bold;
}
